.portfolio-card {
  width: auto;
  animation-name: slidein;
  animation-duration: 2s;
}

.h1-title {
  margin: 20px 0px;
  font-weight: bold;
}

.body-card {
  display: none;
}

.portfolio-card:hover .body-card {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  padding-top: 10%;
}