.contact-card {
  width: 40rem;
  margin: 30px auto;
}

.contact-title {
  margin: 0px 15px 21px 0px;
}

.card-div-contact {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
  margin: 16px;
  background: #eee;
  border-radius: 7px;
}

.contact-img {
  height: 100%;
  object-fit: cover;
  width: 211px;
}

.profile-pic {
  border-radius: 10%;
  width: 100px;
  margin-left: 10px;
}

.contact-info {
  float: right;
  width: 67%;
  padding: 10px;
}

.github-btn {
  margin-top: 15px;
  margin-left: 10px;
}

.contact-form {
  margin-top: 20px;
}

.linkedIn-btn {
  padding-top: 3px;
  margin-left: 9px;
  border-radius: 3px;
  background: linear-gradient(0deg, #0456a9, #1e85ec);
  font-size: 13px;
  color: white;
  height: 32px;
  border: none;
}

.linkedIn-icon {
  width: 23px;
  height: auto;
  margin-right: 4px;
}

.p-btn {
  float: right;
  margin-top: 3px;
}

.input-group-text {
  background: rgb(27 127 227);
  color: white;
}